@import "./mixins.scss";
@import "./variables.scss";
@import "./_controls.scss";
body {
  margin: 0;
  padding: 0;
  background-color: $body-color;
  .video-container {
    width: 100%;
    height: 100%;
    position: relative;
    .controls {
      min-height: 5px;
      z-index: 10000;
      width: 100%;
      position: absolute;
      .seekbar {
        width: calc(100% - 10px);
        background-color: $seekbar;
        min-height: 5px;
        bottom: 10%;
        position: absolute;
        left: 5px;
        right: 5px;
        @include seekbar-borders(3px);

        .seekbar-progress {
          width: 10px;
          background-color: $seekbar-progress;
          height: 0.5rem;
          @include seekbar-borders(3px);
        }
      }
      .timer {
        background-color: red;
        position: absolute;
        color: white;
        font-size: 15px;
        text-align: center;
        display: flex;
        justify-content: center;
      }
    }
  }
}
